/Object Oriented Programming/nbproject/private/
/Object Oriented Programming/build/
/Hospital/nbproject/private/
/ABC Hospital Mangement System/nbproject/private/
/ABCHospitalManagementSystem/build/
/ABCHospitalManagementSystem/nbproject/private/
